DATABASE_URL="postgresql://perpl:perpl@localhost:5432/perpl_market_state_search?schema=public"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_ENABLE_WALLET_FEATURES="false"
NEXT_PUBLIC_MONAD_CHAIN_ID="143"
NEXT_PUBLIC_MONAD_RPC_URL=""

PERPL_API_BASE_URL="https://app.perpl.xyz"
PERPL_WS_URL="wss://app.perpl.xyz"
PERPL_CHAIN_ID="143"
PERPL_FUNDING_INTERVAL_HOURS="8"

WORKER_ENABLED="true"
SNAPSHOT_COLLECTOR_ENABLED="true"
COLLECTOR_INTERVAL_MS="300000"

MONAD_RPC_URL="https://rpc.monad.xyz"
PERPL_CONTRACT_ADDRESSES="0x34b6552d57a35a1d042ccae1951bd1c370112a6f"
ONCHAIN_INDEXER_ENABLED="true"
ONCHAIN_START_BLOCK="85793797"
ONCHAIN_POLL_INTERVAL_MS="5000"
